.root {
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      height: 45px;
      padding: 10px;
      border: 1px solid #a94040;
      border-radius: 30px;
      cursor: pointer;
      display: inline-block;
      line-height: 24px;
      color: #a94040;

      &:hover {
        background-color: #a94040;
        color: #fff;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #a94040;
        color: #fff;
      }
    }
  }
}
